body{
    background: antiquewhite;
    
}

.header_div
{
    background: bisque;
    color:rgb(255, 255, 255);
    font-family: "Indie Flower", cursive;
}

.header_div p{
    font-family: 'Roboto' , sans-serif;
    color:rgb(207, 176, 0);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: rgb(122, 107, 32);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(255, 255, 207);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(129, 93, 1);
}